body {
    margin: 0;
    padding: 0;
    border: 0;
}

#MoBtn {
    width: auto;
    height: 70vh;
    margin: 0 auto;
    margin-top: 15vh;
    display: inline-block;
}

#TVBtn {
    width: auto;
    height: 70vh;
    margin: 0 auto;
    margin-top: 15vh;
    display: inline-block;
}

#MoBtn:hover {
    filter: brightness(30%);

}

#TVBtn:hover {
    filter: brightness(30%);
}

#main {
    text-align: center;
    margin:0 auto;
    overflow: hidden;
    width: 100%;
}